.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
[Bb]uild/
[Ll]og/
TheCrystariumBoutique/bin/
TheCrystariumBoutique/obj/
TheCrystariumBoutique/bin/**
TheCrystariumBoutique/obj/**
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
Thumbs.db
*.DS_Store
.idea/
*.ipr
*.iws
*.iml
TestResult*/
*.coverage*
.coverage
_ReSharper*/
*.orig
*.tmp
~$*
